
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Magal de Touba – Analyse multisectorielle pour l’aide à la décision </title>
    <style>
        .iframe-container {
            display: flex;
            justify-content: center; 
            align-items: center;     
            padding: 90px;
        }
    </style>
</head>
<body>
        
    <div class="iframe-container">
        
        <iframe 
            title="Magal_touba_visualisation"
            width="1000" 
            height="600" 
            src="https://app.powerbi.com/view?r=eyJrIjoiNWE5Mzg5N2EtNzI5MC00M2I1LWIxMTUtOTc0MThmZDViOTUwIiwidCI6Ijk5MjZmMWYyLTk4MjEtNGM0Yy05ODg0LTM0MTJhNzFlNjg0NSJ9"
            frameborder="0"
            allowFullScreen="true">
        </iframe>
        </iframe>
    </div>
</body>
</html>
